@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "vue-select/src/scss/vue-select.scss";

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500&display=swap");

body {
	font-family: "Barlow", sans-serif;
	font-weight: 300;
}
h2 {
	font-weight: 300;
}
.bg-image {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.text-ocre {
	color: #ad634b;
}
.bg-white {
	background-color: #fff;
}
.bg-ocre {
	padding: 20px;
	text-align: center;
	background-color: #c29479;
	border-top: 7px solid #3b1818;
	p {
		font-size: 20px;
	}
}
.bg-lio {
	padding: 20px;
	background-image: url("/img/lionel1.jpg");
}
.bg-alex {
	padding: 20px;
	background-image: url("/img/alexandre1.jpg");
}
/*************** card  ***************/
.card {
	border: 0;
	width: 100%;
	.card-title {
		text-transform: uppercase;
	}
}
/*************** toggle button  ***************/
/* The switch - the box around the slider */
.switch {
	// float: left;
	position: relative;
	display: inline-block;
	width: 55px;
	height: 28px;
}
/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #dadada;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #85c041;
}

input:focus + .slider {
	box-shadow: 0 0 1px #85c041;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
